:root {
  --qwidth: 215px;
  --qmovetime: 1s;
  --poptime: 3s;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@keyframes qin {
  0% {
    opacity: 0%;
    left: calc(100% - var(--qwidth));
  }
  100% {
    opacity: 100%;
    left: calc(50% - var(--qwidth) / 2);
  }
}
@keyframes qout {
  0% {
    opacity: 100%;
    left: calc(50% - var(--qwidth) / 2);
  }
  100% {
    opacity: 0%;
    left: 0px;
  }
}
@keyframes popshow {
  0% {
    opacity: 0%;
  }
  12.5% {
    opacity: 99%;
  }
  50% {
    opacity: 100%;
  }
  87.5% {
    opacity: 99%;
  }
  100% {
    opacity: 0%;
  }
}
.qin {
  animation: qin var(--qmovetime) linear;
}
.qout {
  animation: qout var(--qmovetime) linear;
}
.popshow {
  animation: popshow var(--poptime) linear;
}
question-el {
  width: var(--qwidth);
  position: absolute;
  visibility: hidden;
  top: 100px;
}
#backbtn {
  align-self: flex-start;
}
#questions {
  width: var(--qwidth)
}