{% extends 'base.html' %}
{% block title %} Play {% endblock %}
{% block styles %}
<link rel='stylesheet' href='{{ url_for("static", filename="css/play.css") }}' type='text/css'>
{% endblock %}
{% block body %} 
<h2>Play</h2>
<!-- <card-el top='hi' bottom='hi but now its blue' width='100px' height='200px' id='card1'></card-el> -->
<pop-up>+10 points</pop-up>
<div id='questions'>
  <question-el answer='cilia' question="What sweeps out mucus and dirt in your lungs that smoking damages?"></question-el>
  <question-el answer='7000' question="How many chemicals are there in cigarette smoke?"></question-el>
  <question-el answer="hydrazine" question="What chemical is found in both rocket fuel and cigarette smoke?"></question-el>
  <question-el answer="blood clot" question="What can smoking do to your blood?"></question-el>
</div>
<a id='backbtn'>Go back</a>
{% endblock %}
{% block scripts %}
<script src='{{ url_for("static", filename="js/play.js") }}'></script>
{% endblock %}