{% extends 'base.html' %}
{% block title %} Play {% endblock %}
{% block styles %}
<link rel='stylesheet' href='{{ url_for("static", filename="css/play.css") }}' type='text/css'>
{% endblock %}
{% block body %} 
<h2>Play</h2>
<pop-up>+10 points</pop-up>
<div id='questions'>
  <question-el answer='cilia' question="What sweeps out mucus and dirt in your lungs that smoking damages?"></question-el>
  <question-el answer='7000' question="How many chemicals are there in cigarette smoke?"></question-el>
  <question-el answer="hydrazine" question="What chemical is found in both rocket fuel and cigarette smoke?"></question-el>
  <question-el answer="blood clot" question="What can smoking do to your blood?"></question-el>
  <question-el answer="emotional factors" question="Between peer pressure and emotional factors, what influences people to smoke more?" type='pick' choices='peer pressure,emotional factors'></question-el>
  <end-card></end-card>
</div>
<a id='backbtn'>Go back</a>
{% endblock %}
{% block scripts %}
<script src='{{ url_for("static", filename="js/play.js") }}'></script>
{% endblock %}