{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}
{% block styles %}
<link rel='stylesheet' href='{{ url_for("static", filename="css/signlog.css") }}' type='text/css'>
<style id='buttonStyles'></style>
{% endblock %}
{% block body %}
<h3>Sign up</h3>
<form method='post'>
  <label for="username">Username</label>
  <input name="username" autocomplete='off'>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" autocomplete="off">
  <br>
  <input type="submit" value="Sign up">
</form>
<div id='error'></div>
{% endblock %}
{% block scripts %}
<script src='{{ url_for("static", filename="js/signlog.js") }}'></script>
{% endblock %}