{% extends 'base.html' %}
{% block title %}{{ uname }}{% endblock %}
{% block styles %}
<link rel='stylesheet' href='{{ url_for("static", filename="css/user.css") }}' type='text/css'>
{% endblock %}
{% block body %}
<h1 id='uname'>{{ uname }}</h1>
<div id='goaldiv'>
  <p id='num'>{{ data['days w/o smoking'] }}</p>
  <p>Days without smoking<br>Goal: {{ data['goal'] }}</p>
</div>
<p style="display: none" id='data'>{{ data }}</p>
<p id='points'>Points: {{ data['points'] }}</p>
<ul id='items'></ul>
<div id='stars'>
  <img id='star1'>
  <img id='star2'>
  <img id='star3'>
  <img id='star4'>
</div>
<a href='/play'>Play</a>
<a href='/shop'>Shop</a>
<svg id='avatar'></svg>
<div id='avatarselect'></div>
{% endblock %}
{% block scripts %}
<script src='{{ url_for("static", filename="js/user.js") }}'></script>
{% endblock %}