{% extends 'base.html' %}
{% block title %}{{ uname }}{% endblock %}
{% block styles %}
<link rel='stylesheet' href='{{ url_for("static", filename="css/user.css") }}' type='text/css'>
{% endblock %}
{% block body %}
<div id='contentdiv'>
<h1 id='uname'>{{ uname }}</h1>
<div id='goaldiv'>
  <p id='num'>{{ data['days w/o smoking'] }}</p>
  <p id='onum'>{{ data['days w/o smoking'] }}</p>
  <p id='goal'>Days without smoking<br>Next goal: {{ data['goal'] }}</p>
</div>
<p style="display: none" id='data'>{{ data }}</p>
<p id='points'>Points: {{ data['points'] }}</p>
<ul id='items'></ul>
<div id='stars'>
  <img id='star1'>
  <img id='star2'>
  <img id='star3'>
  <img id='star4'>
</div>
<a href='/play' class='onlyloggedin' title='Answer questions and get points!'>Play</a>
<br>
<a href='/shop' class='onlyloggedin' title='Use your points and buy items for your avatar!'>Shop</a>
<br>
<button id='logout' class='onlyloggedin'>Log out</button>
<br>
</div>
<!--<svg id="pointingsvg" style="position: absolute; left: 0px; top: 316px;" class='onlyloggedin'>
  <defs>
    <marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="6" markerHeight="6" orient="auto-start-reverse">
      <path d="M 0 0 L 10 5 L 0 10 z"></path>
    </marker>
  </defs>
  <line x1="20" y1="30" x2="20" y2="130" stroke="black" style="
" marker-start="url(#arrow)"></line>
<text x="5" y="145">Answer questions and get points!</text><line x1="60" y1="30" x2="60" y2="70" stroke="black" style="
" marker-start="url(#arrow)"></line><text x="45" y="85">Use your points and buy </text><text x="45" y="105">items for your avatar!</text>
</svg>-->
<div id='avatararea'>
  <p class='onlyloggedin'>Use your points to buy from the shop and customize your avatar!</p>
  <svg id='avatar'></svg>
  <div id='avatarselect' class='onlyloggedin'>
    <label>Hat</label>
    <select name="" id="hat"></select>
    <br>  
    <label>Head</label>
    <select name="" id="head"></select>
    <br>
    <label>Body</label>
    <select name="" id="body"></select>
    <br>
    <label>Right hand</label>
    <select name="" id="rhand"></select>
    <br>
    <label>Left hand</label>
    <select name="" id="lhand"></select>
    <br>
    <label>Right leg</label>
    <select name="" id="rleg"></select>
    <br>
    <label>Left leg</label>
    <select name="" id="lleg"></select>
    <br>
    <label>Accesory</label>
    <select name="" id="accesory"></select>
    <br>
    <label>Badge</label>
    <select name="" id="badge"></select>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src='{{ url_for("static", filename="js/user.js") }}'></script>
{% endblock %}